@model List<ResearchGateProject.Models.Paper>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Main stylesheet -->
    <link href="~/Content/Designs/viewhome.css" rel="stylesheet" />
</head>
<body>
    <!-- 0 landing -->
    <div class="landing">
        <div class="container">
            <div class="header">
                <div class="head">
                    <img src="../images/icon.png">
                    <h2>Re<span style="color:#01BC9A">search</span>Gate</h2>
                </div>
                <ul>
                    <li>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                        {
                            <form >
                                <button type="submit" style="color:#0DAE85; border-color:#0DAE85; margin-right:3px;">search</button>
                                <input type="search" name="need" placeholder="search">
                            </form>
                        }

                    </li>
                    <li><a href="@Url.Action("EditProfile","User")"><h3>Edite profile</h3></a></li>
                    <li><a href="@Url.Action("AddCatagory","Catagory")"><h3>Add category</h3></a></li>
                    <li><a href="@Url.Action("Index", "User")"><h3>Log out</h3></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- 1 landing -->
    <section class="blog-me pt-100 pb-100" id="reasearch">
        <a href="" style=" position:absolute; left:0px;  " ><img width="100px" height="141px" src="../images/profil-pic.jpg" alt="" /></a>
        <div class="container">
            <!-- Single paprer #1 -->
            @foreach (var item in Model)
            {
                <div class="single-reasearch">
                    <div class="reasearch-content">
                        <div class="reasearch-title">
                            <h1><a href="">@item.header</a></h1>
                        </div>
                        <fieldset>
                            <legend>@item.catagory</legend>
                            <textarea rows="6" cols="60" readonl> @item.content</textarea>
                        </fieldset>
                        <a href="@Url.Action("ViewPaper","Paper",@item)" class="box_btn">read more</a>
                    </div>
                </div>
            }
            <!-- end paper -->
        </div>
    </section>
</body>
</html>

